# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/src/hello
/src/github.com/pkg/*
/bin
/src/github.com
/src/golang.org
/src/hello/debug
/.vscode/launch.json
/pkg/windows_amd64/github.com/gorilla/mux.a
